.wrapper
  .leftContent
    .header
      %h3.header__name
        = current_user.name
      %ul.header__lists
        %li.list
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
    .groups
      =render 'messages/groups'

  .rightContent
    .header
      .headerGroup
        .headerGroup__name sampleグループ
        .headerGroup__member Menber:sei kumai
      .headerRight Edit
    .messages
      =render 'messages/chat'
    .footer
      %form.submit
        %input.submitMessage(placeholder='type a message')
        .submitFile
          %label.submitFile__uploadLabel(for='upload-icon')
            %i.fa.fa-picture-o
            %input#upload-icon.submitFile__uploadLabel--hidden(type='file')
        %button_tag.submitButton(type='submit') Send
